
.start-container{
  margin: 40px 0px 0px 10px;
}
.Start{
  flex-direction: column;
  padding: 20px 100px 20px 100px;
  background-color: #010409;
  color: white;
  border-radius: 200px;
  border-color: white;
  border-style: solid;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.15s;
  font-weight: bold;
  
}

.Start:hover{
  object-fit: fill;
  background-color: #F7E6C4;
  color: black;
  border-style: transparent;
  font-weight: normal;
  
}