@media (max-width: 1500px) {

  body {
    position: relative;
  }
  .logo{
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: initial;
  }

  .logo1{
    position: absolute;
    right: 60%;
    top: 301px;
    left: 48%;
  }

  .left-card{
    position: absolute;
    top: 100%;
    align-items: center;
    justify-content: center;

  }
  .left-card{
  position: absolute;
  }
  
  h1 {
    position: absolute;
    font-size: 2rem;
    top: 43%;
    left: 10px;
    text-align: center;
    width: 100%;
  }

  .socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }
  .start-container{
    display: flex;
    justify-content: center;
    flex: 1fr;
    position: absolute;
    font-size: 3rem;
    top: 90%;
    left: 0;
    text-align: center;
    width: 100%;
  }
  .left-card{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center; /* Updated property */
    top: 75%;
    left: 2%; /* Reset the left property */
    right: 0; /* Add right: 0 to stretch the element horizontally */
    margin-left: auto; /* Add auto margins to center horizontally */
    margin-right: auto; /* Add auto margins to center horizontally */
    width: 100%;
    z-index: -2;
  } 

  .drift{
    height: 250px;
    position: fixed;
    flex-direction: row;
    right: 80%;
    bottom: 0;
    z-index: -1;
  }
  

}

  @media(max-width: 895px){
    .logo{
      display: flex;
      justify-content: start;
      align-items: start;
      margin-bottom: 2em;
      right: 50%;
      left: 0;
      height: 150px;
      width: 150px;
      object-fit: cover;
      border-radius: 50%;
      opacity: 0.8;
      border: #0aef1d 4px solid;
    }
    .logo1{
      display: flex;
      justify-content: start;
      align-items: start;
      position: absolute;
      left: 21%;
      right: 0;
      bottom: 0;
      top: 18%;
      height: 35px;
      border-radius: 200%;
      
    }
    .socials{
      display: flex;
      justify-content: start;
      align-items: start;
      margin-bottom: 2em;
    }
  
    h1{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 2rem;
    top: 70%;
    text-align: center;
    width: 100%;
    }
    .changes{
    position: absolute;
    top: 14rem;
    left: 1px;
    }

    .rence,
    .rence2{
      position: relative;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      font-size: 30px;

    }
    .left-card{
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center; /* Updated property */
      top:23em;
      left: 0%; /* Reset the left property */
      right: 0; /* Add right: 0 to stretch the element horizontally */
      margin-left: auto; /* Add auto margins to center horizontally */
      margin-right: auto; /* Add auto margins to center horizontally */
      width: 100%;
      z-index: -2;
    } 
    .start-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    top:  80%;
    left: 0;
    }
    
    .start-container{
      margin: 10px 0px 0px 10px;
      
    }
    .Start{
      flex-direction: column;
      padding: 10px 60px;
      background-color: #010409;
      color: white;
      border-radius: 200px;
      border: solid white;
      cursor: pointer;
      font-size: 17px;
      transition: background-color 0.15s;
      font-weight: bold;
    }
    
    .Start:hover{
      background-color: #F7E6C4;
      color: black;
      font-weight: normal;
    }

    .drift{
      height: 250px;
      position: fixed;
      flex-direction: row;
      right: -23%;
      bottom: 0;
      z-index: -1;
    }
    
    
  }


    @media(max-width: 480px){
      h1{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        font-size:26px;
        top: 35%;
        text-align: center;
        width: 100%;
        }
        .changes{
        position: absolute;
        top: 13rem;
        left: 1px;
        }
        .rence,
        .rence2{
          position: relative;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          font-size: 26px;
        }

        .left-card{
          position: absolute;
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
          justify-content: center; /* Updated property */
          top:20em;
          left: 0; /* Reset the left property */
          right: 0; /* Add right: 0 to stretch the element horizontally */
          margin-left: auto; /* Add auto margins to center horizontally */
          margin-right: auto; /* Add auto margins to center horizontally */
          width: 100%
        }
        .start-container{
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          top: 36rem;
          width: 100% ;
          left: 0;
          } 
          .drift{
            height: 250px;
            position: fixed;
            flex-direction: row;
            left: 60%;
            bottom: 0;
            z-index: -1;
          }
          
        

          @media (max-width: 404px) {
            h1{
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              font-size: 20px;
              left: 0;
              top: 35%;
              width: 100%;
              text-align: left;
              }
              .changes{
              position: absolute;
              top: 13rem;
              left: 1px;
              }
              .rence,
              .rence2{
                position: relative;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                font-size: 20px;
              }
              .left-card{
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                justify-content: center; /* Updated property */
                top:25em;
                left: 0%; /* Reset the left property */
                right: 0; /* Add right: 0 to stretch the element horizontally */
                margin-left: auto; /* Add auto margins to center horizontally */
                margin-right: auto; /* Add auto margins to center horizontally */
                width: 100%;
                font-size: 13px;
                z-index: -2;
              } 
              .start-container{
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: start;
                top: 70%;
                left: 0;
          }  
          .drift{
            height: 250px;
            position: fixed;
            flex-direction: row;
            right: 100%;
            bottom: 0;
            z-index: -1;
          }
      .start-container{
        margin: 40px 0px 0px 10px;
      }
      .Start{
        flex-direction: column;
        padding: 10px 50px 10px 50px;
        background-color: #010409;
        color: white;
        border-radius: 200px;
        border-color: white;
        border-style: solid;
        cursor: pointer;
        font-size: 17px;
        transition: background-color 0.15s;
        font-weight: bold;
        
      }

      .Start:hover{
        object-fit: fill;
        background-color: #F7E6C4;
        color: black;
        border-style: transparent;
        font-weight: normal;
        
      } 
    }
        @media(max-width:323px){
          h1{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            font-size:12px;
            top: 35%;
            text-align: center;
            width: 100%;
            text-align: left;
            }
            .changes{
            position: absolute;
            top: 13rem;
            left: 1px;
            }
            .rence,
            .rence2{
              position: relative;
              left: 0;
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              font-size: 19px;
              text-align: left;
            }
            .left-card{
              position: absolute;
              display: flex;
              flex-wrap: wrap;
              align-items: baseline;
              justify-content: center; /* Updated property */
              top:27em;
              left: 0%; /* Reset the left property */
              right: 0; /* Add right: 0 to stretch the element horizontally */
              margin-left: auto; /* Add auto margins to center horizontally */
              margin-right: auto; /* Add auto margins to center horizontally */
              width: 100%;
              font-size: 11px;
            } 
            .start-container{
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: start;
              top: 67%;
              left: 0;
              z-index: 1;
              }
              
              .start-container{
                margin: 30px 0px 0px 5px;
                
              }
              .Start{
                flex-direction: column;
                padding: 5px 30px;
                background-color: #010409;
                color: white;
                border-radius: 200px;
                border: solid white;
                cursor: pointer;
                font-size: 17px;
                transition: background-color 0.15s;
                font-weight: bold;
              }
              
              .Start:hover{
                background-color: #F7E6C4;
                color: black;
                font-weight: normal;
              }
            
  }
}
    

        @media(max-width: 395px) {
          .start-container{
             display: flex;
             flex-direction: row;
             justify-content: start;
             align-items: start;
             top: 73%;
             left: 0;
             z-index: 1;
             }
             
             .start-container{
               margin: 30px 0px 0px 5px;
               
             }
             .Start{
               flex-direction: column;
               padding: 5px 30px;
               background-color: #010409;
               color: white;
               border-radius: 200px;
               border: solid white;
               cursor: pointer;
               font-size: 17px;
               transition: background-color 0.15s;
               font-weight: bold;
             }
     
             
}